.hot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-each{
        width: 31.5%;
        margin: 1vw 0;
        .cover{
            border-radius: 10px;
            width: 100%;
            height: 40vw;
        }
    }
}